<launch>
  <arg name="camera" default="camera"/>
  <arg name="image" default="image_rect"/>
  <arg name="camera_info" default="camera_info"/>

  <group ns="$(arg camera)">
    <node pkg="apriltags_ros" type="apriltag_detector_node" name="apriltag_detector" output="screen">
      <remap from="image_rect" to="$(arg image)" />
      <remap from="camera_info" to="$(arg camera_info)" />
      
      <param name="tag_family" type="str" value="36h11" />

      <param name="projected_optics" type="bool" value="true" />

      <rosparam param="tag_descriptions">[
        {id: 9, size: 0.05, frame_id: tag_9},
        {id: 27, size: 0.05, frame_id: tag_27}]
      </rosparam>
    </node>
  </group>
</launch>