<launch>
    <arg name="dof" default="2" />
    <arg name="goal_jointstate_topic" default="/motors/goal_states" />

    <arg name="joy_dev" default="/dev/input/js0" />
    <arg name="joy_config" default="xbox360" />
    <arg name="teleop_config" default="$(find trackerrr)/cfg/$(arg joy_config).yaml" />

    <!-- joy stuff -->
    <include file="$(find trackerrr)/launch/joy.launch">
        <arg name="dof" value="$(arg dof)" />
        <arg name="joy_dev" value="$(arg joy_dev)" />
        <arg name="joy_config" value="$(arg joy_config)" />
        <arg name="teleop_config" value="$(arg teleop_config)" />
        <arg name="goal_jointstate_topic" default="$(arg goal_jointstate_topic)" />
    </include>

    <!-- dynamixel motor controller -->
    <include file="$(find trackerrr)/launch/dynamixel_controller.launch">
        <arg name="max_dxl_num" value="$(arg dof)" />
    </include>

    <!-- viz of current robot joint states -->
    <include file="$(find trackerrr)/launch/viz_robot.launch">
        <arg name="dof" value="$(arg dof)" />
    </include>

    <!-- camera -->
    <include file="$(find trackerrr)/launch/camera.launch" >
        <arg name="device" value="/dev/video0" />
    </include>

    <node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view" args="/camera/image_rect_color" />
</launch>