<launch>
  <arg name="camera" default="camera" />

  <!-- camera -->
  <include file="$(find apriltag_trackerrr)/launch/camera.launch" />

  <!-- tag detection -->
  <include file="$(find apriltag_trackerrr)/launch/tag_detect.launch" />

  <!-- viz -->
  <include file="$(find apriltag_trackerrr)/launch/viz_rr_robot.launch" />

  <!-- dynamixel -->
  <!-- -->
  <include file="$(find apriltag_trackerrr)/launch/dynamixel_controller.launch">
      <arg name="max_dxl_num" value="2" />
  </include>
  <!-- -->

  <!-- tracker -->
  <group ns="$(arg camera)">
    <node pkg="apriltag_trackerrr" type="tagtracker_node" name="tagtracker" output="screen" />
  </group>
</launch>