<launch>
  <arg name="camera" default="camera" />
  <arg name="dof" default="1" />
  <arg name="target_tag_id" default="27" />

  <!-- camera -->
  <include file="$(find trackerrr)/launch/camera.launch" />

  <!-- tag detection -->
  <include file="$(find trackerrr)/launch/tag_detect.launch" />

  <!-- viz -->
  <include file="$(find trackerrr)/launch/viz_robot.launch">
    <arg name="dof" value="$(arg dof)" />
  </include>

  <!-- dynamixel -->
  <!-- -->
  <include file="$(find trackerrr)/launch/dynamixel_controller.launch">
      <arg name="max_dxl_num" value="$(arg dof)" />
  </include>
  <!-- -->

  <!-- tag tracker -->
  <group ns="$(arg camera)">
    <node pkg="trackerrr" type="tagtracker_node" name="tagtracker" output="screen">
      <param name="dof" value="$(arg dof)" />
      <param name="target_tag_id" value="$(arg target_tag_id)" />
    </node>
  </group>
</launch>