<launch>
    <arg name="dof" default="1" />
    <arg name="target_tag_id" default="27" />
    <arg name="present_jointstate_topic" default="/motors/present_states" />
    <arg name="goal_jointstate_topic" default="/motors/goal_states" />

    <arg name="camera" default="camera" />
    <arg name="device" default="/dev/video0" />

    <!-- image acquisition from camera -->
    <include file="$(find trackerrr)/launch/camera.launch" >
        <arg name="camera" value="$(arg camera)" />
        <arg name="device" value="$(arg device)" />
    </include>

    <!-- tag detection from camera images -->
    <include file="$(find trackerrr)/launch/tag_detect.launch" >
        <arg name="camera" value="$(arg camera)" />
    </include>

    <!-- dynamixel motor controller -->
    <!-- -->
    <include file="$(find trackerrr)/launch/dynamixel_controller.launch">
        <arg name="dof" value="$(arg dof)" />
        <arg name="present_jointstate_topic" value="$(arg present_jointstate_topic)" />
        <arg name="goal_jointstate_topic" value="$(arg goal_jointstate_topic)" />
    </include>
    <!-- -->

    <!-- viz of current robot joint states -->
    <include file="$(find trackerrr)/launch/viz_robot.launch">
        <arg name="dof" value="$(arg dof)" />
    </include>

    <!-- tag tracker -->
    <node pkg="trackerrr" type="tagtracker_node" name="tagtracker" output="screen">
        <param name="dof" value="$(arg dof)" />
        <param name="target_tag_id" value="$(arg target_tag_id)" />
        <param name="camera" value="$(arg camera)" />
    </node>
</launch>