<launch>
  <node pkg="tf" type="static_transform_publisher" name="joint_origin" args="0.0 0.0 0.0 0.0 0.0 0.0 /world /joint0 100"/>
  
  <rosparam command="load" file="$(find apriltag_trackerrr)/cfg/r_robot.yaml" />

  <node pkg="apriltag_trackerrr" name="dh_to_tf" type="dh_to_tf" output="screen">
    <param name="num_joints" type="int" value="1" />
  </node>
</launch>